@model IEnumerable<Pacial_Net2.Models.Vehiculo>

@{
    ViewData["Title"] = "Vehiculos";
}   

<h1>@ViewData["Title"]</h1>
<br />
<p>
    <a class="btn btn-primary" -controller="Vehiculo" asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Modelo</th>
            <th>Año</th>
            <th>Cantidad de puertas</th>
            <th>Marca</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.Vehiculo) 
{
        <tr>
            <td>@item.modelo</td>
            <td>@item.anio</td> 
            <td>@item.cantidadPuertas</td>
            <td>@item.Marca.nombre</td>
            <td>
                <a class="btn btn-warning" asp-controller="Vehiculo" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-danger delete-btn" href="#" data-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts
{
    <script>
        document.querySelectorAll('.delete-btn').forEach(btn => {
            btn.addEventListener('click', function (e) {
                e.preventDefault();
                const id = this.getAttribute('data-id');

                Swal.fire({
                    title: '¿Quieres confirmar la eliminación?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Confirmar'
                }).then((resultado) => {
                    if (resultado.isConfirmed) {
                        fetch(`/Vehiculo/Delete/${id}`, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        }).then(response => {
                            if (response.ok) {
                                window.location.reload();
                            } else {
                                Swal.fire('Error', 'No se pudo eliminar la vehiculo.', 'error');
                            }
                        });
                    }
                });
            });
        });
    </script>
}
